body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-between;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    font-family: roboto;
    color: #F9FAF8;
    font-size: 24px;
}

.top-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    gap: 50px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.signup-container h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: extra-bold;
}

.header-links,
.signup-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.image-placeholder {
    height: 200px;
    width: 400px;
    background-color: #f3f0f0;
}



.bottom-part {
    background-color: whitesmoke;
}

li {
    list-style: none;
    display: inline-block;
}




