body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-between;
    font-family: roboto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style: none;
    display: inline-block;
    display: flex;
    gap: 25px;
}

.top-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    gap: 50px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-container h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: extra-bold;
    margin: 0px;
}

.header-links,
.signup-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-container button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 70px;
    border-style: none;
}

.image-placeholder {
    height: 200px;
    width: 400px;
    background-color: #818ab4;
    flex-shrink: 0;
    margin-bottom: 70px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*this is the bottom half of the page*/

.bottom-part {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-part h2 {
    margin: 35px;
}

.container-section {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.card-container {
    height: 100px;
    width: 100px;
    border: #3882F6;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    gap: 135px;
    justify-content: center;
}


.quote-container .quote{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote-container .author {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 200px;
    font-weight: bold;
}

.call-to-action {
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: #3882F6;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    border-radius: 10px;
    gap: 100px;
}

.call-right {
    display: flex;
    align-items: center;
}

.call-right button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    border-color: #E5E7EB;
    border-style: solid;
}

.call-left {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.call-title {
    font-weight: bold;
}

.call-text {
    font-weight: light;
}

.footer {
    color: #E5E7EB;
    text-align: center;
    margin-top: 3px;
}